USE [master]
GO
/****** Object:  Database [UCV_DB]    Script Date: 24/05/2025 21:09:32 ******/
CREATE DATABASE [UCV_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UCV_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\UCV_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UCV_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\UCV_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UCV_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UCV_DB]
GO
/****** Object:  User [hector]    Script Date: 24/05/2025 21:09:32 ******/
CREATE USER [hector] FOR LOGIN [hector] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [hector]
GO
/****** Object:  Table [dbo].[carrera]    Script Date: 24/05/2025 21:09:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[carrera](
	[idCarrera] [int] NOT NULL,
	[nombreCarrera] [nvarchar](255) NOT NULL,
	[idFacultad] [int] NOT NULL,
 CONSTRAINT [PK_d5717e8a15e690d30cf7a8b47c7] PRIMARY KEY CLUSTERED 
(
	[idCarrera] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categoriacurso]    Script Date: 24/05/2025 21:09:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categoriacurso](
	[idCategoriaCurso] [nvarchar](255) NOT NULL,
	[descripcionCC] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_272f250552e0b3fbdde67db593f] PRIMARY KEY CLUSTERED 
(
	[idCategoriaCurso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categoriaestudiante]    Script Date: 24/05/2025 21:09:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categoriaestudiante](
	[idCategoriaE] [nvarchar](255) NOT NULL,
	[descripcionCE] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_57d2ff16b195d7aaee169fc5869] PRIMARY KEY CLUSTERED 
(
	[idCategoriaE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ciclo]    Script Date: 24/05/2025 21:09:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ciclo](
	[idCiclo] [int] NOT NULL,
	[descripcion] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_1c5af1f9e26e06093ad7cc21bc1] PRIMARY KEY CLUSTERED 
(
	[idCiclo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[curso]    Script Date: 24/05/2025 21:09:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[curso](
	[idCurso] [nvarchar](255) NOT NULL,
	[NombreCurso] [nvarchar](255) NOT NULL,
	[NumeroCreditos] [int] NOT NULL,
	[idCategoriaCurso] [nvarchar](255) NOT NULL,
	[idCiclo] [int] NOT NULL,
 CONSTRAINT [PK_4076636f7d6affefae7cba0cf2b] PRIMARY KEY CLUSTERED 
(
	[idCurso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[detallematricula]    Script Date: 24/05/2025 21:09:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detallematricula](
	[idMatricula] [int] NOT NULL,
	[idCurso] [nvarchar](255) NOT NULL,
	[fechaInicio] [datetime] NOT NULL,
	[fechaTermino] [datetime] NOT NULL,
	[aula] [nvarchar](255) NOT NULL,
	[idPabellon] [nvarchar](255) NOT NULL,
	[idTurno] [nvarchar](255) NOT NULL,
	[codigoD] [int] NOT NULL,
	[idModalidad] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_028cac30d5c5775a31499a4f36d] PRIMARY KEY CLUSTERED 
(
	[idMatricula] ASC,
	[idCurso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[detallenota]    Script Date: 24/05/2025 21:09:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detallenota](
	[idDetalleMC] [nvarchar](255) NOT NULL,
	[idTipo] [nvarchar](255) NOT NULL,
	[idUnidad] [nvarchar](255) NOT NULL,
	[nota] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_15260b977a8f20d7911b88ae79f] PRIMARY KEY CLUSTERED 
(
	[idDetalleMC] ASC,
	[idTipo] ASC,
	[idUnidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[distrito]    Script Date: 24/05/2025 21:09:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[distrito](
	[IDDistrito] [int] NOT NULL,
	[Nombre_Di] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_831038aeb976376296d19c8f9a6] PRIMARY KEY CLUSTERED 
(
	[IDDistrito] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estadocivil]    Script Date: 24/05/2025 21:09:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estadocivil](
	[idEstado] [nvarchar](255) NOT NULL,
	[descripcionE] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_540b7677399cde561ceebf2b80f] PRIMARY KEY CLUSTERED 
(
	[idEstado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estudiante]    Script Date: 24/05/2025 21:09:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estudiante](
	[codigoE] [int] NOT NULL,
	[dniE] [nvarchar](255) NOT NULL,
	[nombresE] [nvarchar](255) NOT NULL,
	[apellidosE] [nvarchar](255) NOT NULL,
	[correo] [nvarchar](255) NOT NULL,
	[celular] [nvarchar](255) NOT NULL,
	[direccion] [nvarchar](255) NOT NULL,
	[idGenero] [nvarchar](255) NOT NULL,
	[idEstado] [nvarchar](255) NOT NULL,
	[idDistrito] [int] NOT NULL,
	[idCategoriaE] [nvarchar](255) NOT NULL,
	[idCarrera] [int] NOT NULL,
 CONSTRAINT [PK_682a4dee2ac6c4060c1505c5889] PRIMARY KEY CLUSTERED 
(
	[codigoE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[facultad]    Script Date: 24/05/2025 21:09:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[facultad](
	[idFacultad] [int] NOT NULL,
	[descripcionFa] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_993cd018d49f33302e76cf5644b] PRIMARY KEY CLUSTERED 
(
	[idFacultad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[genero]    Script Date: 24/05/2025 21:09:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[genero](
	[idGenero] [nvarchar](255) NOT NULL,
	[descripcion] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_fa9364460dc675df4f7cb7941d5] PRIMARY KEY CLUSTERED 
(
	[idGenero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[matricula]    Script Date: 24/05/2025 21:09:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[matricula](
	[idMatricula] [int] NOT NULL,
	[codigoE] [int] NOT NULL,
	[totalCursos] [int] NOT NULL,
	[totalCreditos] [int] NOT NULL,
	[fechaMatricula] [datetime] NOT NULL,
	[codigoD] [int] NULL,
 CONSTRAINT [PK_d03e3149acf57444b6f43f32d9b] PRIMARY KEY CLUSTERED 
(
	[idMatricula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[modalidad]    Script Date: 24/05/2025 21:09:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[modalidad](
	[idModalidad] [nvarchar](255) NOT NULL,
	[descripcionM] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_7f42178924405e542d521c552b8] PRIMARY KEY CLUSTERED 
(
	[idModalidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[notas]    Script Date: 24/05/2025 21:09:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notas](
	[idDetalleMC] [nvarchar](255) NOT NULL,
	[idCurso] [nvarchar](255) NOT NULL,
	[idMatricula] [int] NOT NULL,
	[promedioPonderado] [decimal](10, 2) NOT NULL,
	[estado] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_0a9e93eca9abdc87c9bc395f8c0] PRIMARY KEY CLUSTERED 
(
	[idDetalleMC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pabellon]    Script Date: 24/05/2025 21:09:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pabellon](
	[IdPabellon] [nvarchar](255) NOT NULL,
	[NombrePabellon] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_2dceb2248f85e1a8b9236d90e1b] PRIMARY KEY CLUSTERED 
(
	[IdPabellon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[profesor]    Script Date: 24/05/2025 21:09:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[profesor](
	[codigoD] [int] NOT NULL,
	[dniProf] [nvarchar](255) NOT NULL,
	[nombresD] [nvarchar](255) NOT NULL,
	[apellidosD] [nvarchar](255) NOT NULL,
	[correo] [nvarchar](255) NOT NULL,
	[celular] [nvarchar](255) NOT NULL,
	[direccion] [nvarchar](255) NOT NULL,
	[idGenero] [nvarchar](255) NOT NULL,
	[idEstado] [nvarchar](255) NOT NULL,
	[idDistrito] [int] NOT NULL,
 CONSTRAINT [PK_1ecefa41bc98c8cfd06e7130a1e] PRIMARY KEY CLUSTERED 
(
	[codigoD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipo]    Script Date: 24/05/2025 21:09:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipo](
	[idTipo] [nvarchar](255) NOT NULL,
	[descripcion] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_1d865262521f4054f880b03563b] PRIMARY KEY CLUSTERED 
(
	[idTipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[turno]    Script Date: 24/05/2025 21:09:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[turno](
	[idTurno] [nvarchar](255) NOT NULL,
	[descripcionTurno] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_09d81b48fb3acea8141ac3091b2] PRIMARY KEY CLUSTERED 
(
	[idTurno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[unidad]    Script Date: 24/05/2025 21:09:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[unidad](
	[idUnidad] [nvarchar](255) NOT NULL,
	[descripcionU] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_7c905f1d05f62afa0699d159f48] PRIMARY KEY CLUSTERED 
(
	[idUnidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuario]    Script Date: 24/05/2025 21:09:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario](
	[id] [int] NOT NULL,
	[username] [nvarchar](255) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[issuperuser] [bit] NOT NULL,
	[codigoD] [int] NOT NULL,
 CONSTRAINT [PK_a56c58e5cabaa04fb2c98d2d7e2] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [REL_3af55a4b83d1ad165e8de9db1b]    Script Date: 24/05/2025 21:09:32 ******/
CREATE UNIQUE NONCLUSTERED INDEX [REL_3af55a4b83d1ad165e8de9db1b] ON [dbo].[usuario]
(
	[codigoD] ASC
)
WHERE ([codigoD] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[carrera]  WITH CHECK ADD  CONSTRAINT [FK_c3ad8a07fff882f4335c9c17ecd] FOREIGN KEY([idFacultad])
REFERENCES [dbo].[facultad] ([idFacultad])
GO
ALTER TABLE [dbo].[carrera] CHECK CONSTRAINT [FK_c3ad8a07fff882f4335c9c17ecd]
GO
ALTER TABLE [dbo].[curso]  WITH CHECK ADD  CONSTRAINT [FK_abf513f819cb4fe774de1f80990] FOREIGN KEY([idCiclo])
REFERENCES [dbo].[ciclo] ([idCiclo])
GO
ALTER TABLE [dbo].[curso] CHECK CONSTRAINT [FK_abf513f819cb4fe774de1f80990]
GO
ALTER TABLE [dbo].[curso]  WITH CHECK ADD  CONSTRAINT [FK_f5a42e9099f69b68a9d8a8635b9] FOREIGN KEY([idCategoriaCurso])
REFERENCES [dbo].[categoriacurso] ([idCategoriaCurso])
GO
ALTER TABLE [dbo].[curso] CHECK CONSTRAINT [FK_f5a42e9099f69b68a9d8a8635b9]
GO
ALTER TABLE [dbo].[detallematricula]  WITH CHECK ADD  CONSTRAINT [FK_16d3dda07c2bd89393117e495f9] FOREIGN KEY([idModalidad])
REFERENCES [dbo].[modalidad] ([idModalidad])
GO
ALTER TABLE [dbo].[detallematricula] CHECK CONSTRAINT [FK_16d3dda07c2bd89393117e495f9]
GO
ALTER TABLE [dbo].[detallematricula]  WITH CHECK ADD  CONSTRAINT [FK_29cce8d8f0a0df562af55b9f1d5] FOREIGN KEY([codigoD])
REFERENCES [dbo].[profesor] ([codigoD])
GO
ALTER TABLE [dbo].[detallematricula] CHECK CONSTRAINT [FK_29cce8d8f0a0df562af55b9f1d5]
GO
ALTER TABLE [dbo].[detallematricula]  WITH CHECK ADD  CONSTRAINT [FK_4e125bb7f0c14e316eb6ea4d545] FOREIGN KEY([idCurso])
REFERENCES [dbo].[curso] ([idCurso])
GO
ALTER TABLE [dbo].[detallematricula] CHECK CONSTRAINT [FK_4e125bb7f0c14e316eb6ea4d545]
GO
ALTER TABLE [dbo].[detallematricula]  WITH CHECK ADD  CONSTRAINT [FK_5cef0018bbda3582055832b8ec6] FOREIGN KEY([idTurno])
REFERENCES [dbo].[turno] ([idTurno])
GO
ALTER TABLE [dbo].[detallematricula] CHECK CONSTRAINT [FK_5cef0018bbda3582055832b8ec6]
GO
ALTER TABLE [dbo].[detallematricula]  WITH CHECK ADD  CONSTRAINT [FK_9caf420e66b06c7559cbe11ba49] FOREIGN KEY([idMatricula])
REFERENCES [dbo].[matricula] ([idMatricula])
GO
ALTER TABLE [dbo].[detallematricula] CHECK CONSTRAINT [FK_9caf420e66b06c7559cbe11ba49]
GO
ALTER TABLE [dbo].[detallematricula]  WITH CHECK ADD  CONSTRAINT [FK_c2b1535ab380721e93b9b4812c8] FOREIGN KEY([idPabellon])
REFERENCES [dbo].[pabellon] ([IdPabellon])
GO
ALTER TABLE [dbo].[detallematricula] CHECK CONSTRAINT [FK_c2b1535ab380721e93b9b4812c8]
GO
ALTER TABLE [dbo].[detallenota]  WITH CHECK ADD  CONSTRAINT [FK_098bc64af06476b1b9d49efe670] FOREIGN KEY([idTipo])
REFERENCES [dbo].[tipo] ([idTipo])
GO
ALTER TABLE [dbo].[detallenota] CHECK CONSTRAINT [FK_098bc64af06476b1b9d49efe670]
GO
ALTER TABLE [dbo].[detallenota]  WITH CHECK ADD  CONSTRAINT [FK_274a9d51f277269947bc4a62a2d] FOREIGN KEY([idUnidad])
REFERENCES [dbo].[unidad] ([idUnidad])
GO
ALTER TABLE [dbo].[detallenota] CHECK CONSTRAINT [FK_274a9d51f277269947bc4a62a2d]
GO
ALTER TABLE [dbo].[detallenota]  WITH CHECK ADD  CONSTRAINT [FK_3d652659b785ceb4b0cb93748fa] FOREIGN KEY([idDetalleMC])
REFERENCES [dbo].[notas] ([idDetalleMC])
GO
ALTER TABLE [dbo].[detallenota] CHECK CONSTRAINT [FK_3d652659b785ceb4b0cb93748fa]
GO
ALTER TABLE [dbo].[estudiante]  WITH CHECK ADD  CONSTRAINT [FK_0fab129426d109c17a1e256fb89] FOREIGN KEY([idCategoriaE])
REFERENCES [dbo].[categoriaestudiante] ([idCategoriaE])
GO
ALTER TABLE [dbo].[estudiante] CHECK CONSTRAINT [FK_0fab129426d109c17a1e256fb89]
GO
ALTER TABLE [dbo].[estudiante]  WITH CHECK ADD  CONSTRAINT [FK_17a82f20cc5b9e0625fceef44a3] FOREIGN KEY([idDistrito])
REFERENCES [dbo].[distrito] ([IDDistrito])
GO
ALTER TABLE [dbo].[estudiante] CHECK CONSTRAINT [FK_17a82f20cc5b9e0625fceef44a3]
GO
ALTER TABLE [dbo].[estudiante]  WITH CHECK ADD  CONSTRAINT [FK_7513a8d76652cd4c4790b9d5896] FOREIGN KEY([idCarrera])
REFERENCES [dbo].[carrera] ([idCarrera])
GO
ALTER TABLE [dbo].[estudiante] CHECK CONSTRAINT [FK_7513a8d76652cd4c4790b9d5896]
GO
ALTER TABLE [dbo].[estudiante]  WITH CHECK ADD  CONSTRAINT [FK_9c1d8fafd626635be2e70d14e9e] FOREIGN KEY([idGenero])
REFERENCES [dbo].[genero] ([idGenero])
GO
ALTER TABLE [dbo].[estudiante] CHECK CONSTRAINT [FK_9c1d8fafd626635be2e70d14e9e]
GO
ALTER TABLE [dbo].[estudiante]  WITH CHECK ADD  CONSTRAINT [FK_be88cc5f9cff46af08ab196d380] FOREIGN KEY([idEstado])
REFERENCES [dbo].[estadocivil] ([idEstado])
GO
ALTER TABLE [dbo].[estudiante] CHECK CONSTRAINT [FK_be88cc5f9cff46af08ab196d380]
GO
ALTER TABLE [dbo].[matricula]  WITH CHECK ADD  CONSTRAINT [FK_8d7f511f73f394f6c7a2159bb6e] FOREIGN KEY([codigoE])
REFERENCES [dbo].[estudiante] ([codigoE])
GO
ALTER TABLE [dbo].[matricula] CHECK CONSTRAINT [FK_8d7f511f73f394f6c7a2159bb6e]
GO
ALTER TABLE [dbo].[matricula]  WITH CHECK ADD  CONSTRAINT [FK_c6213088c075cbc8350a0879c44] FOREIGN KEY([codigoD])
REFERENCES [dbo].[profesor] ([codigoD])
GO
ALTER TABLE [dbo].[matricula] CHECK CONSTRAINT [FK_c6213088c075cbc8350a0879c44]
GO
ALTER TABLE [dbo].[notas]  WITH CHECK ADD  CONSTRAINT [FK_3e3db37bee927947a49f84acf7a] FOREIGN KEY([idMatricula], [idCurso])
REFERENCES [dbo].[detallematricula] ([idMatricula], [idCurso])
GO
ALTER TABLE [dbo].[notas] CHECK CONSTRAINT [FK_3e3db37bee927947a49f84acf7a]
GO
ALTER TABLE [dbo].[profesor]  WITH CHECK ADD  CONSTRAINT [FK_8841ab3cd57ba5495e7d06962f1] FOREIGN KEY([idEstado])
REFERENCES [dbo].[estadocivil] ([idEstado])
GO
ALTER TABLE [dbo].[profesor] CHECK CONSTRAINT [FK_8841ab3cd57ba5495e7d06962f1]
GO
ALTER TABLE [dbo].[profesor]  WITH CHECK ADD  CONSTRAINT [FK_afdd386a967d4711a3987f07d10] FOREIGN KEY([idDistrito])
REFERENCES [dbo].[distrito] ([IDDistrito])
GO
ALTER TABLE [dbo].[profesor] CHECK CONSTRAINT [FK_afdd386a967d4711a3987f07d10]
GO
ALTER TABLE [dbo].[profesor]  WITH CHECK ADD  CONSTRAINT [FK_e748f917cde0012b23e3b4d2091] FOREIGN KEY([idGenero])
REFERENCES [dbo].[genero] ([idGenero])
GO
ALTER TABLE [dbo].[profesor] CHECK CONSTRAINT [FK_e748f917cde0012b23e3b4d2091]
GO
ALTER TABLE [dbo].[usuario]  WITH CHECK ADD  CONSTRAINT [FK_3af55a4b83d1ad165e8de9db1b3] FOREIGN KEY([codigoD])
REFERENCES [dbo].[profesor] ([codigoD])
GO
ALTER TABLE [dbo].[usuario] CHECK CONSTRAINT [FK_3af55a4b83d1ad165e8de9db1b3]
GO
USE [master]
GO
